%h1 Pavan Kumar  Devineni

%h2 Cool Facts
%p Being Friendly With Everyone
%p Always Smiling

Click the link below that navigates to List of Attractions
%br
= link_to 'Index Page',attractions_index_path
<br/>
<br/>